@import './normalize.scss';
@import './sassConfig.scss';
i[class^=icon] {
    width: 44px;
    height: 44px;
    display: inline-block;
    background-repeat: no-repeat;
    border-radius: 100px;
    background-color: $color-main;
}

.icon-help {
    background-image: url(~@/assets/images/icon/icon-help.png);
}

.icon-user {
    background-image: url(~@/assets/images/icon/icon-user.png);
    cursor: pointer;
}

.icon-search {
    background-image: url(~@/assets/images/icon/icon-search.png);
}

.icon-location {
    background-image: url(~@/assets/images/icon/icon-location.png);
}

.icon-account {
    background-image: url(~@/assets/images/icon/uesr_07.png);
}

.icon-order {
    background-image: url(~@/assets/images/icon/uesr_10.png);
}

.icon-attestation {
    background-image: url(~@/assets/images/icon/uesr_12.png);
}

.icon-security {
    background-image: url(~@/assets/images/icon/uesr_15.png);
}

.icon-center {
    background-image: url(~@/assets/images/icon/uesr_18.png);
}